1. No Sunlight
2. Power - extension, plugpoint or something like that
3. Ethernet aane priority, Illenki atleast wifi kittiyenkilum kollam
4. Covering to prevent sunlight from messing the Bots PLA body
